<h1> Get a random number </h1>

<form action=/random/results>
<div>
 <label for="random_max"> Maximum </label>
  <input id="random_max" type="text" name="users_max" placeholder="e.g., 5">
</div>

<div>
 <label for="random_min"> Minimum </label>
  <input id="random_min" type="text" name="users_min" placeholder="e.g., 1">
</div>

<button> Pick random number </button>

</form>
