<h1> Calculate the square root of a number </h1>

<form action=/square_root/results>
 <label for="paul"> Enter a number </label>
  <input id="paul" type="text" name="users_number">

  <button> Calculate square root </button>
  
</form>
